.term-input-line{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 20px;
    padding-left: 15px;
}

.term-input-line .term-input-line-desc {
    font-family: 'Ubuntu Mono', monospace;
    color: rgb(26, 209, 26);
    font-size: 20px;
    outline: none;
}

.term-input-line-input {
    border:none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 10px;
    font-family: 'Ubuntu Mono', monospace;
    width: 80vw;
    letter-spacing: 0.2px;
}