.term-response-line{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 20px;
    padding-left: 12vw;
}

.term-response-line .term-response-text {
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    font-size: 20px;
}